In [36]:
### create the the Data Set

In [41]:
dataset = [
    ['Apple','Beer','Rice','Chicken'],
    ['Apple','Beer','Rice'],
    ['Apple','Beer'],
    ['Apple','Pear'],
    ['Milk','Beer','Rice','Chicken'],
    ['Milk','Beer','Rice'],
    ['Milk','Beer'],
    ['Milk','Pear']
]

In [42]:
dataset

[['Apple', 'Beer', 'Rice', 'Chicken'],
 ['Apple', 'Beer', 'Rice'],
 ['Apple', 'Beer'],
 ['Apple', 'Pear'],
 ['Milk', 'Beer', 'Rice', 'Chicken'],
 ['Milk', 'Beer', 'Rice'],
 ['Milk', 'Beer'],
 ['Milk', 'Pear']]

In [44]:
# Convert into Structure formate

In [45]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [46]:
te=TransactionEncoder()
encoded=te.fit_transform(dataset)

In [47]:
encoded

array([[ True,  True,  True, False, False,  True],
       [ True,  True, False, False, False,  True],
       [ True,  True, False, False, False, False],
       [ True, False, False, False,  True, False],
       [False,  True,  True,  True, False,  True],
       [False,  True, False,  True, False,  True],
       [False,  True, False,  True, False, False],
       [False, False, False,  True,  True, False]])

In [48]:
te.columns_

['Apple', 'Beer', 'Chicken', 'Milk', 'Pear', 'Rice']

In [49]:
df=pd.DataFrame(encoded, columns=te.columns_)

In [50]:
df

   Apple   Beer  Chicken   Milk   Pear   Rice
0   True   True     True  False  False   True
1   True   True    False  False  False   True
2   True   True    False  False  False  False
3   True  False    False  False   True  False
4  False   True     True   True  False   True
5  False   True    False   True  False   True
6  False   True    False   True  False  False
7  False  False    False   True   True  False

In [51]:
### apply algorithm

In [52]:
from mlxtend.frequent_patterns import apriori, association_rules

In [54]:
# Find frequent itemset
fre_itemset=apriori(df, min_support=0.25, use_colnames=True)

In [55]:
fre_itemset

    support               itemsets
0     0.500                (Apple)
1     0.750                 (Beer)
2     0.250              (Chicken)
3     0.500                 (Milk)
4     0.250                 (Pear)
5     0.500                 (Rice)
6     0.375          (Apple, Beer)
7     0.250          (Apple, Rice)
8     0.250        (Chicken, Beer)
9     0.375           (Milk, Beer)
10    0.500           (Rice, Beer)
11    0.250        (Chicken, Rice)
12    0.250           (Rice, Milk)
13    0.250    (Apple, Rice, Beer)
14    0.250  (Chicken, Rice, Beer)
15    0.250     (Rice, Milk, Beer)

In [58]:
# Find frequent itemset
fre_itemset=apriori(df, min_support=0.25, use_colnames=True)

In [59]:
fre_itemset

    support               itemsets
0     0.500                (Apple)
1     0.750                 (Beer)
2     0.250              (Chicken)
3     0.500                 (Milk)
4     0.250                 (Pear)
5     0.500                 (Rice)
6     0.375          (Apple, Beer)
7     0.250          (Apple, Rice)
8     0.250        (Chicken, Beer)
9     0.375           (Milk, Beer)
10    0.500           (Rice, Beer)
11    0.250        (Chicken, Rice)
12    0.250           (Rice, Milk)
13    0.250    (Apple, Rice, Beer)
14    0.250  (Chicken, Rice, Beer)
15    0.250     (Rice, Milk, Beer)

In [60]:
rules=association_rules(fre_itemset,metric='confidence', min_threshold=0.5)

In [61]:
rules.shape

(28, 10)

In [62]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Apple),(Beer),0.500,0.750,0.375,0.750000,1.000000,0.0000,1.00,0.000000
1,(Beer),(Apple),0.750,0.500,0.375,0.500000,1.000000,0.0000,1.00,0.000000
2,(Apple),(Rice),0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
3,(Rice),(Apple),0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
4,(Chicken),(Beer),0.250,0.750,0.250,1.000000,1.333333,0.0625,inf,0.333333
5,(Milk),(Beer),0.500,0.750,0.375,0.750000,1.000000,0.0000,1.00,0.000000
6,(Beer),(Milk),0.750,0.500,0.375,0.500000,1.000000,0.0000,1.00,0.000000
7,(Rice),(Beer),0.500,0.750,0.500,1.000000,1.333333,0.1250,inf,0.500000
8,(Beer),(Rice),0.750,0.500,0.500,0.666667,1.333333,0.1250,1.50,1.000000
9,(Chicken),(Rice),0.250,0.500,0.250,1.000000,2.000000,0.1250,inf,0.666667
10,(Rice),(Chicken),0.500,0.250,0.250,0.500000,2.000000,0.1250,1.50,1.000000
11,(Rice),(Milk),0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
12,(Milk),(Rice),0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
13,"(Apple, Rice)",(Beer),0.250,0.750,0.250,1.000000,1.333333,0.0625,inf,0.333333
14,"(Apple, Beer)",(Rice),0.375,0.500,0.250,0.666667,1.333333,0.0625,1.50,0.400000
15,"(Rice, Beer)",(Apple),0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
16,(Apple),"(Rice, Beer)",0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
17,(Rice),"(Apple, Beer)",0.500,0.375,0.250,0.500000,1.333333,0.0625,1.25,0.500000
18,"(Chicken, Rice)",(Beer),0.250,0.750,0.250,1.000000,1.333333,0.0625,inf,0.333333
19,"(Chicken, Beer)",(Rice),0.250,0.500,0.250,1.000000,2.000000,0.1250,inf,0.666667
20,"(Rice, Beer)",(Chicken),0.500,0.250,0.250,0.500000,2.000000,0.1250,1.50,1.000000
21,(Chicken),"(Rice, Beer)",0.250,0.500,0.250,1.000000,2.000000,0.1250,inf,0.666667
22,(Rice),"(Chicken, Beer)",0.500,0.250,0.250,0.500000,2.000000,0.1250,1.50,1.000000
23,"(Rice, Milk)",(Beer),0.250,0.750,0.250,1.000000,1.333333,0.0625,inf,0.333333
24,"(Rice, Beer)",(Milk),0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
25,"(Milk, Beer)",(Rice),0.375,0.500,0.250,0.666667,1.333333,0.0625,1.50,0.400000
26,(Rice),"(Milk, Beer)",0.500,0.375,0.250,0.500000,1.333333,0.0625,1.25,0.500000
27,(Milk),"(Rice, Beer)",0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000

In [63]:
# antecedents means this
# consequents means that

In [64]:
rules = rules[['antecedents','consequents','support','confidence']]

In [65]:
rules

        antecedents      consequents  support  confidence
0           (Apple)           (Beer)    0.375    0.750000
1            (Beer)          (Apple)    0.375    0.500000
2           (Apple)           (Rice)    0.250    0.500000
3            (Rice)          (Apple)    0.250    0.500000
4         (Chicken)           (Beer)    0.250    1.000000
5            (Milk)           (Beer)    0.375    0.750000
6            (Beer)           (Milk)    0.375    0.500000
7            (Rice)           (Beer)    0.500    1.000000
8            (Beer)           (Rice)    0.500    0.666667
9         (Chicken)           (Rice)    0.250    1.000000
10           (Rice)        (Chicken)    0.250    0.500000
11           (Rice)           (Milk)    0.250    0.500000
12           (Milk)           (Rice)    0.250    0.500000
13    (Apple, Rice)           (Beer)    0.250    1.000000
14    (Apple, Beer)           (Rice)    0.250    0.666667
15     (Rice, Beer)          (Apple)    0.250    0.500000
16          (Apple)     (Rice, Beer)    0.250    0.500000
17           (Rice)    (Apple, Beer)    0.250    0.500000
18  (Chicken, Rice)           (Beer)    0.250    1.000000
19  (Chicken, Beer)           (Rice)    0.250    1.000000
20     (Rice, Beer)        (Chicken)    0.250    0.500000
21        (Chicken)     (Rice, Beer)    0.250    1.000000
22           (Rice)  (Chicken, Beer)    0.250    0.500000
23     (Rice, Milk)           (Beer)    0.250    1.000000
24     (Rice, Beer)           (Milk)    0.250    0.500000
25     (Milk, Beer)           (Rice)    0.250    0.666667
26           (Rice)     (Milk, Beer)    0.250    0.500000
27           (Milk)     (Rice, Beer)    0.250    0.500000

In [67]:
rules.sort_values(by=['confidence','support'], ascending=False)

        antecedents      consequents  support  confidence
7            (Rice)           (Beer)    0.500    1.000000
4         (Chicken)           (Beer)    0.250    1.000000
9         (Chicken)           (Rice)    0.250    1.000000
13    (Apple, Rice)           (Beer)    0.250    1.000000
18  (Chicken, Rice)           (Beer)    0.250    1.000000
19  (Chicken, Beer)           (Rice)    0.250    1.000000
21        (Chicken)     (Rice, Beer)    0.250    1.000000
23     (Rice, Milk)           (Beer)    0.250    1.000000
0           (Apple)           (Beer)    0.375    0.750000
5            (Milk)           (Beer)    0.375    0.750000
8            (Beer)           (Rice)    0.500    0.666667
14    (Apple, Beer)           (Rice)    0.250    0.666667
25     (Milk, Beer)           (Rice)    0.250    0.666667
1            (Beer)          (Apple)    0.375    0.500000
6            (Beer)           (Milk)    0.375    0.500000
2           (Apple)           (Rice)    0.250    0.500000
3            (Rice)          (Apple)    0.250    0.500000
10           (Rice)        (Chicken)    0.250    0.500000
11           (Rice)           (Milk)    0.250    0.500000
12           (Milk)           (Rice)    0.250    0.500000
15     (Rice, Beer)          (Apple)    0.250    0.500000
16          (Apple)     (Rice, Beer)    0.250    0.500000
17           (Rice)    (Apple, Beer)    0.250    0.500000
20     (Rice, Beer)        (Chicken)    0.250    0.500000
22           (Rice)  (Chicken, Beer)    0.250    0.500000
24     (Rice, Beer)           (Milk)    0.250    0.500000
26           (Rice)     (Milk, Beer)    0.250    0.500000
27           (Milk)     (Rice, Beer)    0.250    0.500000

In [69]:
# above 50% selection  # Filter the rules

In [70]:
nrules = rules[rules['confidence']>0.5]

In [71]:
nrules

        antecedents   consequents  support  confidence
0           (Apple)        (Beer)    0.375    0.750000
4         (Chicken)        (Beer)    0.250    1.000000
5            (Milk)        (Beer)    0.375    0.750000
7            (Rice)        (Beer)    0.500    1.000000
8            (Beer)        (Rice)    0.500    0.666667
9         (Chicken)        (Rice)    0.250    1.000000
13    (Apple, Rice)        (Beer)    0.250    1.000000
14    (Apple, Beer)        (Rice)    0.250    0.666667
18  (Chicken, Rice)        (Beer)    0.250    1.000000
19  (Chicken, Beer)        (Rice)    0.250    1.000000
21        (Chicken)  (Rice, Beer)    0.250    1.000000
23     (Rice, Milk)        (Beer)    0.250    1.000000
25     (Milk, Beer)        (Rice)    0.250    0.666667

In [72]:
nrules.shape

(13, 4)

In [77]:
nrules75 = rules[rules['confidence']>0.85]

In [78]:
nrules75

        antecedents   consequents  support  confidence
4         (Chicken)        (Beer)     0.25         1.0
7            (Rice)        (Beer)     0.50         1.0
9         (Chicken)        (Rice)     0.25         1.0
13    (Apple, Rice)        (Beer)     0.25         1.0
18  (Chicken, Rice)        (Beer)     0.25         1.0
19  (Chicken, Beer)        (Rice)     0.25         1.0
21        (Chicken)  (Rice, Beer)     0.25         1.0
23     (Rice, Milk)        (Beer)     0.25         1.0

In [79]:
nrules[nrules['antecedents']=={'Rice'}]

  antecedents consequents  support  confidence
7      (Rice)      (Beer)      0.5         1.0

In [81]:
nrules[nrules['antecedents']=={'Rice'}]['consequents']

7    (Beer)
Name: consequents, dtype: object

In [82]:
nrules[nrules['antecedents']=={'Apple','Beer'}]['consequents']

14    (Rice)
Name: consequents, dtype: object

In [83]:
nrules.to_csv('rules.csv',index=False)