In [36]:
### create the the Data Set

In [3]:
dataset = [
    ['Apple','Beer','Rice','Chicken'],
    ['Apple','Beer','Rice'],
    ['Apple','Beer'],
    ['Apple','Pear'],
    ['Milk','Beer','Rice','Chicken'],
    ['Milk','Beer','Rice'],
    ['Milk','Beer'],
    ['Milk','Pear']
]

In [4]:
dataset

[['Apple', 'Beer', 'Rice', 'Chicken'],
 ['Apple', 'Beer', 'Rice'],
 ['Apple', 'Beer'],
 ['Apple', 'Pear'],
 ['Milk', 'Beer', 'Rice', 'Chicken'],
 ['Milk', 'Beer', 'Rice'],
 ['Milk', 'Beer'],
 ['Milk', 'Pear']]

In [5]:
# Convert into Structure formate

In [6]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [7]:
te=TransactionEncoder()
encoded=te.fit_transform(dataset)

In [8]:
encoded

array([[ True,  True,  True, False, False,  True],
       [ True,  True, False, False, False,  True],
       [ True,  True, False, False, False, False],
       [ True, False, False, False,  True, False],
       [False,  True,  True,  True, False,  True],
       [False,  True, False,  True, False,  True],
       [False,  True, False,  True, False, False],
       [False, False, False,  True,  True, False]])

In [9]:
te.columns_

['Apple', 'Beer', 'Chicken', 'Milk', 'Pear', 'Rice']

In [10]:
df=pd.DataFrame(encoded, columns=te.columns_)

In [11]:
df

   Apple   Beer  Chicken   Milk   Pear   Rice
0   True   True     True  False  False   True
1   True   True    False  False  False   True
2   True   True    False  False  False  False
3   True  False    False  False   True  False
4  False   True     True   True  False   True
5  False   True    False   True  False   True
6  False   True    False   True  False  False
7  False  False    False   True   True  False

In [12]:
### apply algorithm

In [13]:
from mlxtend.frequent_patterns import fpgrowth, association_rules

In [14]:
# Find frequent itemset
fre_itemset=fpgrowth(df, min_support=0.25, use_colnames=True)

In [15]:
fre_itemset

    support               itemsets
0     0.750                 (Beer)
1     0.500                 (Rice)
2     0.500                (Apple)
3     0.250              (Chicken)
4     0.250                 (Pear)
5     0.500                 (Milk)
6     0.500           (Rice, Beer)
7     0.375          (Apple, Beer)
8     0.250          (Rice, Apple)
9     0.250    (Rice, Apple, Beer)
10    0.250        (Rice, Chicken)
11    0.250        (Chicken, Beer)
12    0.250  (Chicken, Rice, Beer)
13    0.375           (Milk, Beer)
14    0.250           (Milk, Rice)
15    0.250     (Milk, Rice, Beer)

In [16]:
# Find frequent itemset
fre_itemset=apriori(df, min_support=0.25, use_colnames=True)

NameError: name 'apriori' is not defined

In [17]:
fre_itemset

    support               itemsets
0     0.750                 (Beer)
1     0.500                 (Rice)
2     0.500                (Apple)
3     0.250              (Chicken)
4     0.250                 (Pear)
5     0.500                 (Milk)
6     0.500           (Rice, Beer)
7     0.375          (Apple, Beer)
8     0.250          (Rice, Apple)
9     0.250    (Rice, Apple, Beer)
10    0.250        (Rice, Chicken)
11    0.250        (Chicken, Beer)
12    0.250  (Chicken, Rice, Beer)
13    0.375           (Milk, Beer)
14    0.250           (Milk, Rice)
15    0.250     (Milk, Rice, Beer)

In [18]:
rules=association_rules(fre_itemset,metric='confidence', min_threshold=0.5)

In [19]:
rules.shape

(28, 10)

In [20]:
rules

        antecedents      consequents  antecedent support  ...  leverage  conviction  zhangs_metric
0            (Rice)           (Beer)               0.500  ...    0.1250         inf       0.500000
1            (Beer)           (Rice)               0.750  ...    0.1250        1.50       1.000000
2           (Apple)           (Beer)               0.500  ...    0.0000        1.00       0.000000
3            (Beer)          (Apple)               0.750  ...    0.0000        1.00       0.000000
4            (Rice)          (Apple)               0.500  ...    0.0000        1.00       0.000000
5           (Apple)           (Rice)               0.500  ...    0.0000        1.00       0.000000
6     (Rice, Apple)           (Beer)               0.250  ...    0.0625         inf       0.333333
7      (Rice, Beer)          (Apple)               0.500  ...    0.0000        1.00       0.000000
8     (Apple, Beer)           (Rice)               0.375  ...    0.0625        1.50       0.400000
9            (Rice)    (Apple, Beer)               0.500  ...    0.0625        1.25       0.500000
10          (Apple)     (Rice, Beer)               0.500  ...    0.0000        1.00       0.000000
11           (Rice)        (Chicken)               0.500  ...    0.1250        1.50       1.000000
12        (Chicken)           (Rice)               0.250  ...    0.1250         inf       0.666667
13        (Chicken)           (Beer)               0.250  ...    0.0625         inf       0.333333
14  (Rice, Chicken)           (Beer)               0.250  ...    0.0625         inf       0.333333
15  (Chicken, Beer)           (Rice)               0.250  ...    0.1250         inf       0.666667
16     (Rice, Beer)        (Chicken)               0.500  ...    0.1250        1.50       1.000000
17        (Chicken)     (Rice, Beer)               0.250  ...    0.1250         inf       0.666667
18           (Rice)  (Chicken, Beer)               0.500  ...    0.1250        1.50       1.000000
19           (Milk)           (Beer)               0.500  ...    0.0000        1.00       0.000000
20           (Beer)           (Milk)               0.750  ...    0.0000        1.00       0.000000
21           (Milk)           (Rice)               0.500  ...    0.0000        1.00       0.000000
22           (Rice)           (Milk)               0.500  ...    0.0000        1.00       0.000000
23     (Milk, Rice)           (Beer)               0.250  ...    0.0625         inf       0.333333
24     (Milk, Beer)           (Rice)               0.375  ...    0.0625        1.50       0.400000
25     (Rice, Beer)           (Milk)               0.500  ...    0.0000        1.00       0.000000
26           (Milk)     (Rice, Beer)               0.500  ...    0.0000        1.00       0.000000
27           (Rice)     (Milk, Beer)               0.500  ...    0.0625        1.25       0.500000

[28 rows x 10 columns]

In [21]:
# antecedents means this
# consequents means that

In [22]:
rules = rules[['antecedents','consequents','support','confidence']]

In [23]:
rules

        antecedents      consequents  support  confidence
0            (Rice)           (Beer)    0.500    1.000000
1            (Beer)           (Rice)    0.500    0.666667
2           (Apple)           (Beer)    0.375    0.750000
3            (Beer)          (Apple)    0.375    0.500000
4            (Rice)          (Apple)    0.250    0.500000
5           (Apple)           (Rice)    0.250    0.500000
6     (Rice, Apple)           (Beer)    0.250    1.000000
7      (Rice, Beer)          (Apple)    0.250    0.500000
8     (Apple, Beer)           (Rice)    0.250    0.666667
9            (Rice)    (Apple, Beer)    0.250    0.500000
10          (Apple)     (Rice, Beer)    0.250    0.500000
11           (Rice)        (Chicken)    0.250    0.500000
12        (Chicken)           (Rice)    0.250    1.000000
13        (Chicken)           (Beer)    0.250    1.000000
14  (Rice, Chicken)           (Beer)    0.250    1.000000
15  (Chicken, Beer)           (Rice)    0.250    1.000000
16     (Rice, Beer)        (Chicken)    0.250    0.500000
17        (Chicken)     (Rice, Beer)    0.250    1.000000
18           (Rice)  (Chicken, Beer)    0.250    0.500000
19           (Milk)           (Beer)    0.375    0.750000
20           (Beer)           (Milk)    0.375    0.500000
21           (Milk)           (Rice)    0.250    0.500000
22           (Rice)           (Milk)    0.250    0.500000
23     (Milk, Rice)           (Beer)    0.250    1.000000
24     (Milk, Beer)           (Rice)    0.250    0.666667
25     (Rice, Beer)           (Milk)    0.250    0.500000
26           (Milk)     (Rice, Beer)    0.250    0.500000
27           (Rice)     (Milk, Beer)    0.250    0.500000

In [24]:
rules.sort_values(by=['confidence','support'], ascending=False)

        antecedents      consequents  support  confidence
0            (Rice)           (Beer)    0.500    1.000000
6     (Rice, Apple)           (Beer)    0.250    1.000000
12        (Chicken)           (Rice)    0.250    1.000000
13        (Chicken)           (Beer)    0.250    1.000000
14  (Rice, Chicken)           (Beer)    0.250    1.000000
15  (Chicken, Beer)           (Rice)    0.250    1.000000
17        (Chicken)     (Rice, Beer)    0.250    1.000000
23     (Milk, Rice)           (Beer)    0.250    1.000000
2           (Apple)           (Beer)    0.375    0.750000
19           (Milk)           (Beer)    0.375    0.750000
1            (Beer)           (Rice)    0.500    0.666667
8     (Apple, Beer)           (Rice)    0.250    0.666667
24     (Milk, Beer)           (Rice)    0.250    0.666667
3            (Beer)          (Apple)    0.375    0.500000
20           (Beer)           (Milk)    0.375    0.500000
4            (Rice)          (Apple)    0.250    0.500000
5           (Apple)           (Rice)    0.250    0.500000
7      (Rice, Beer)          (Apple)    0.250    0.500000
9            (Rice)    (Apple, Beer)    0.250    0.500000
10          (Apple)     (Rice, Beer)    0.250    0.500000
11           (Rice)        (Chicken)    0.250    0.500000
16     (Rice, Beer)        (Chicken)    0.250    0.500000
18           (Rice)  (Chicken, Beer)    0.250    0.500000
21           (Milk)           (Rice)    0.250    0.500000
22           (Rice)           (Milk)    0.250    0.500000
25     (Rice, Beer)           (Milk)    0.250    0.500000
26           (Milk)     (Rice, Beer)    0.250    0.500000
27           (Rice)     (Milk, Beer)    0.250    0.500000

In [25]:
# above 50% selection  # Filter the rules

In [26]:
nrules = rules[rules['confidence']>0.5]

In [27]:
nrules

        antecedents   consequents  support  confidence
0            (Rice)        (Beer)    0.500    1.000000
1            (Beer)        (Rice)    0.500    0.666667
2           (Apple)        (Beer)    0.375    0.750000
6     (Rice, Apple)        (Beer)    0.250    1.000000
8     (Apple, Beer)        (Rice)    0.250    0.666667
12        (Chicken)        (Rice)    0.250    1.000000
13        (Chicken)        (Beer)    0.250    1.000000
14  (Rice, Chicken)        (Beer)    0.250    1.000000
15  (Chicken, Beer)        (Rice)    0.250    1.000000
17        (Chicken)  (Rice, Beer)    0.250    1.000000
19           (Milk)        (Beer)    0.375    0.750000
23     (Milk, Rice)        (Beer)    0.250    1.000000
24     (Milk, Beer)        (Rice)    0.250    0.666667

In [28]:
nrules.shape

(13, 4)

In [29]:
nrules75 = rules[rules['confidence']>0.85]

In [30]:
nrules75

        antecedents   consequents  support  confidence
0            (Rice)        (Beer)     0.50         1.0
6     (Rice, Apple)        (Beer)     0.25         1.0
12        (Chicken)        (Rice)     0.25         1.0
13        (Chicken)        (Beer)     0.25         1.0
14  (Rice, Chicken)        (Beer)     0.25         1.0
15  (Chicken, Beer)        (Rice)     0.25         1.0
17        (Chicken)  (Rice, Beer)     0.25         1.0
23     (Milk, Rice)        (Beer)     0.25         1.0

In [31]:
nrules[nrules['antecedents']=={'Rice'}]

  antecedents consequents  support  confidence
0      (Rice)      (Beer)      0.5         1.0

In [32]:
nrules[nrules['antecedents']=={'Rice'}]['consequents']

0    (Beer)
Name: consequents, dtype: object

In [33]:
nrules[nrules['antecedents']=={'Apple','Beer'}]['consequents']

8    (Rice)
Name: consequents, dtype: object

In [34]:
nrules.to_csv('rules.csv',index=False)